<%= @posts.each do |post| %>
  <div>
    <%= link_to
      post.title, "/posts/#{post.id}"
    %>
  </div>
<% end %>


#refactored with url helper

<% @posts.each do |post| %>
  <div>
    <%= link_to post.title, post_path(post.id) %>
  </div>
<% end %>